@mixin dFlexCenter($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin dFlex($jc: start, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin dFlexColumn($jc: center, $dir: row) {
  display: flex;
  justify-content: $jc;
  flex-direction: $dir;
}
// Mobile
@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}

// Tablet
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

// Notebook
@mixin notebook {
  @media (max-width: 1024px) {
    @content;
  }
}

// Desktop
@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

// Bigscreen
@mixin bigscreen {
  @media (min-width: 1920px) {
    @content;
  }
}
