.work-container {
  display: flex;
  align-items: center;
  padding: 155px 56px;
  gap: 80px;

  h1 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1;
  }
  p {
    color: black;
    font-size: 1.2rem;
  }
  .link-to {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .message-btn {
    display: flex;
    align-self: start;
    padding: 0.75rem 2rem;
    border: 2px solid #5988ff;
    border-radius: 0.5rem;
    background: transparent;
    font-size: 1rem;
  }

  .message-btn:hover {
    background: linear-gradient(#5988ff, #377cff);
    color: #fff;
  }
}
.circle {
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.circle-large {
  width: 12vw;
  height: 12vw;
  top: -10vh;
  left: 40vw;
  background-image: url("../../../public/images/hero/Ellipse\ 5.png");
}

.circle-small {
  width: 5vw;
  height: 5vw;
  top: 10vh;
  left: 70vw;
  background-image: url("../../../public/images/hero/Ellipse\ 6.png");
}
