<section id="about-me">
  <div class="content">
    <div class="circle circle-large"></div>
    <div class="circle circle-small"></div>
    <div class="work-container">
      <div>
        <h1>{{ "aboutMe.title" | translate }}</h1>
      </div>
      <div class="about-me">
        <p>{{ "aboutMe.description" | translate }}</p>
        <a class="link-to" href="">
          <a class="message-btn" href="#contact">
            {{ "aboutMe.button" | translate }}</a
          >
        </a>
      </div>
    </div>
  </div>
</section>
