<section class="work-together">
  <img
    class="elipse elipse-large"
    src="/assets/images/hero/Ellipse 5.png"
    alt=""
  />
  <img
    class="elipse elipse-small"
    src="/assets/images/hero/Ellipse 6.png"
    alt=""
  />
  <div class="work-container">
    <div><h1>lets work together</h1></div>
    <div class="about-me">
      <p>
        i am a Fullstack-developer based in Bremen, <br />
        Germany. I enjoy helping designers and <br />companies bring their ideas
        into real life. i am looking forward to continuing my developer career
        with a job in a junior dingens position.
        <br />
        <br />
        if you think i'd be a good match for your projects, contact me! bruw
      </p>
      <a class="link-to" href=""
        ><button class="message-btn">Send a message</button></a
      >
    </div>
  </div>
</section>
