<header>
  <div class="content">
    <nav>
      <div class="logo">
        <a href="/">
          <img src="./images/hero/ao_logo_light_blue.png" alt="Logo"
        /></a>
      </div>
      <div class="links">
        <a href="#about-me">{{ "header.links.aboutMe" | translate }}</a>
        <a href="#my-work">{{ "header.links.myWork" | translate }}</a>
        <a href="#contact">{{ "header.links.contact" | translate }}</a>
        <div class="nav-btns">
          <button (click)="changeLanguage('de')">DE</button>
          <button (click)="changeLanguage('en')">EN</button>
        </div>
      </div>
    </nav>
  </div>
</header>
