<header>
  <div class="content">
    <nav>
      <div class="logo">
        <img src="/assets/images/hero/ao_logo_light_blue.png" alt="Logo" />
      </div>
      <div class="links">
        <a href="#about-me">About me</a>
        <a href="#my-work">My Work</a>
        <a href="#contact">Contact</a>
        <div class="nav-btns">
          <button (click)="changeLanguage('de')">DE</button>
          <button (click)="changeLanguage('en')">EN</button>
        </div>
      </div>
    </nav>
  </div>
</header>
