header {
  position: sticky;
  background: #5988ff31;
  margin-top: -112px;
  padding: 18px 0 18px 0;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .logo {
    cursor: pointer;
    img {
      height: 64px;
      width: 64px;
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .links {
      font-size: 2rem;
      display: flex;
      gap: 2rem;
    }
    a {
      &:hover {
        font-weight: bold;
      }
    }
  }
}
