header{
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border: solid 2px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 0 8px rgb(0,0,0,0.5);

    .logo{
    img{
        height: 64px;
        width: 64px;
        }
    }
    nav{
        display: flex;
        gap: 2rem;

    a{
        color: #333;
        font-weight: 500;
        transition: color 0.2s;
    }
    &:hover{
        color: #3366ff;
    }
    }
}