<section class="hero">
  <div class="hero-content">
    <div class="hero-image">
      <img src="/assets/images/hero/smiley.png" alt="" />
    </div>
    <div class="hero-text">
      <p>Howdy! I am Adem</p>
      <span>FULLSTACK</span>
      <span>DEVELOPER</span>
    </div>
  </div>
  <div class="scroll-section">
    <div class="scroll-icons">
      <div class="scroll-tab-icons">
        <a href="">
          <img src="/assets/images/hero/Linkedin button s2.png" alt="" />
        </a>
        <a href="">
          <img src="/assets/images/hero/Email button s2.png" alt="" />
        </a>
        <a href="">
          <img src="/assets/images/hero/Github button s2.png" alt="" />
        </a>
      </div>
    </div>
    <div class="scroll-vector">
      <p>Scroll</p>
      <a>
        <img src="/assets/images/hero/Vector 10.png" alt="" />
      </a>
    </div>
  </div>
</section>
