.hero-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(to bottom, #ffffff, #eaf0ff);

  .hero-left {
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-image {
      width: 30vw;
      height: 30vw;
      left: -10%;
    }
  }

  .hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    .hero-text {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: #3366ff;
      p {
        font-size: 3rem;
        font-weight: 400;
      }

      span {
        font-size: 8rem;
        font-weight: 900;
        line-height: 0.5;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 0.5rem 1rem;
        margin-top: 0.7rem;
      }
    }
    .scroll-section {
      display: flex;
      align-items: center;
      gap: 8rem;
      margin-left: 10vw;
    }
    .scroll-vector {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .scroll-vector {
      p {
        margin: 0;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        color: #4a73ff;
        text-transform: uppercase;
      }
    }
    .scroll-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      img:hover {
        animation-name: translateIcons;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
    }
    .scroll-icons {
      img {
        width: 32px;
        height: 100%;
      }
    }
  }
  .circle-large {
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .circle-large {
    width: 50vw;
    height: 50vw;
    top: 0;
    left: -7.5%;
    background-image: url("../../../public/images/hero/Ellipse\ 3.png");
  }
}

@keyframes translateIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
