section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #eaf0ff);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 20rem;
}
.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-circle {
  position: absolute;
  width: 900px;
  height: 900px;
  background-color: #4a80ff;
  border-radius: 50%;
  left: -20%;
  top: -80%;
  z-index: 0;
}
.hero-image {
  width: 500px;
  height: 500px;
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-right: 15rem;
  .hero-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #3366ff;
    p {
      font-size: 3rem;
      font-weight: 400;
    }

    span {
      font-size: 5rem;
      font-weight: 900;
      line-height: 0.5;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      padding-left: left;
    }
  }
  .scroll-section {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .scroll-vector {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scroll-vector {
    p {
      margin: 0;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      color: #4a73ff;
    }
  }
  .scroll-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img:hover {
      animation-name: translateIcons;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  .scroll-icons {
    img {
      width: 32px;
      height: 100%;
    }
  }
}

@keyframes translateIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
