// global css properties

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "baloo", "montserrat";
  color: #5988ff;
}
// fonts
@font-face {
  font-family: "baloo";
  src: url("/fonts/baloo-2-v22-latin/baloo-2-v22-latin-regular.woff2")
    format("woff");
}
@font-face {
  font-family: "montserrat";
  src: url("/fonts/montserrat-v30-latin/montserrat-v30-latin-regular.woff2")
    format("woff");
}
.fontBaloo {
  font-family: "baloo";
}
.fontMonte {
  font-family: "montserrat";
}
header,
section,
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  .content {
    width: 100%;
    max-width: 1920px;
  }
}
button,
a {
  cursor: pointer;
}
