<section>
  <div class="content">
    <div class="hero-image">
      <img
        src="/assets/images/work/Property 1=Crypto converter photo.png"
        alt="Kanban Screenshot"
      />
    </div>
    <div class="hero-text">
      <h3>Join</h3>
      <span>Angular | TypeScript | HTML | CSS | Firebase</span>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag-and-drop functions, assign users and categories.
      </p>
      <button class="btn-github">Github</button>
    </div>
  </div>
</section>
