<section>
  <div class="content">
    <div></div>
    <div class="container">
      <form (submit)="onSubmit(contactForm)" #contactForm="ngForm">
        <label for="name">Your Name</label>
        <input
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder="Your name.."
          required
        />

        <label for="email">Your email</label>
        <input
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          placeholder="Your email.."
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />

        <label for="message">Subject</label>
        <textarea
          #message="ngModel"
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          placeholder="Your message"
          required
          style="height: 200px"
        ></textarea>
        @if(!message.valid && message.touched) {
        <span>Your message is empty</span>
        }
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</section>
