<section id="my-work">
  <div class="content">
    <div class="work-title">
      <h2>My work</h2>
      <p>
        Explore a selection of my work here – Interact with <br />projects to
        see my skills in action.
      </p>
    </div>
    <div class="circle">
      <img
        class="circle-small"
        src="/assets/images/work/Ellipse 7.png"
        alt="kleiner kreis"
      />
      <img
        class="circle-large"
        src="/assets/images/work/Ellipse 8.png"
        alt="großer kreis"
      />
    </div>
  </div>
</section>
